@font-face {
  font-family: 'FontAwesome';
  src: url('img/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 11px;
  margin: 1px;
  font-family: sans-serif;
  cursor: default;
  color: #222222;
}
#settings {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.3em;
}
#settings li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#settings input {
  display: none;
}
#settings input:checked + label {
  color: #ff0000;
}
#settings label {
  color: #888888;
  cursor: pointer;
}
#settings label:hover {
  color: inherit;
}
.type-icon.html5 {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.type-icon.html5::before {
  content: '\f13b';
}
.type-icon.html4 {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.type-icon.html4::before {
  content: '\f121';
}
.type-icon.svg {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.type-icon.svg::before {
  content: '\f03e';
}
.type-icon.unknown {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.type-icon.unknown::before {
  content: '\f128';
}
.type-icon.obsolete {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.type-icon.obsolete::before {
  content: '\f071';
}
.type-icon.draft {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.type-icon.draft::before {
  content: '\f0c3';
}
.alphabetic-ascending {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.alphabetic-ascending::before {
  content: '\f15d';
}
.alphabetic-descending {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.alphabetic-descending::before {
  content: '\f15e';
}
.amount-ascending {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.amount-ascending::before {
  content: '\f160';
}
.amount-descending {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.amount-descending::before {
  content: '\f161';
}
.border-left {
  border-left: 1px solid #d2d2d2;
}
table {
  border-spacing: 0;
}
table th,
table td {
  text-align: left;
  padding: 0.7em;
}
table .bar-container {
  width: 130px;
}
table .bar-container .bar {
  background-color: #83bfe6;
  height: 7px;
  min-width: 7px;
  border-radius: 7px;
  border: 1px solid #83bfe6;
  box-shadow: 0 1px 1px 0px rgba(255, 255, 255, 0.7) inset;
}
table tbody tr:nth-child(even) {
  background-color: #dedede;
}
table tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}
table tbody tr.tag-row:hover {
  background-color: #ff0000;
  color: white;
}
table tbody tr.tag-row:hover .border-left {
  border-left: 1px solid transparent;
}
table tbody tr.tag-row:hover .bar {
  background-color: white;
  border-color: white;
}
.subtle-text {
  color: #8a8a8a;
}
code {
  font-weight: bold;
  font-family: inherit;
}
