@font-face {
  font-family: 'FontAwesome';
  src: url('img/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 11px;
  margin: 1px;
  font-family: sans-serif;
  cursor: default;
}
#settings {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.3em;
}
#settings li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#settings input {
  display: none;
}
#settings input:checked + label {
  color: #ff0000;
}
#settings label {
  color: #888888;
  cursor: pointer;
}
#settings label:hover {
  color: inherit;
}
#html5-label {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#html5-label::before {
  content: '\f13b';
}
#html4-label {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#html4-label::before {
  content: '\f121';
}
#svg-label {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#svg-label::before {
  content: '\f03e';
}
#unknown-label {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#unknown-label::before {
  content: '\f128';
}
#obsolete-label {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#obsolete-label::before {
  content: '\f071';
}
#draft-label {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#draft-label::before {
  content: '\f0c3';
}
table {
  border-spacing: 0;
}
table th,
table td {
  text-align: left;
  padding: 0.7em;
}
table .border-left {
  border-left: 1px solid #d2d2d2;
}
table .bar {
  background-color: #a1bee6;
  height: 0.4em;
  min-width: 0.4em;
  border-radius: 100px;
  border: 2px ridge #9abcde;
}
table tbody tr:nth-child(even) {
  background-color: #dedede;
}
table tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}
table tbody tr[data-tag]:hover {
  background-color: #ff0000;
  color: white;
}
table tbody tr[data-tag]:hover .border-left {
  border-left: 1px solid transparent;
}
table tbody tr[data-tag]:hover .bar {
  background-color: white;
  border-color: white;
}
.subtle-text {
  color: #8a8a8a;
}
code {
  font-weight: bold;
  font-family: inherit;
}
