<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tag Counter</title>
    <script type="module" src="popup.js"></script>
    <link rel="stylesheet" href="popup.css"/>
</head>
<body v-cloack>
<ul id="toolbar">
    <li ng-repeat="(key, value) in tagTypes">
        <label>
            <input type="checkbox" ng-model="value.show" />
            <i class="toolbar-button icon-{{key}}"
               ng-class="value.show ? 'selected' : 'not-selected'"
               title="{{value.desc}}"></i>
        </label>
    </li>
    <li>|</li>
    <li>
        <i class="toolbar-button icon-refresh"
           ng-click="updateStats()"
           title="Refresh"></i>
    </li>
</ul>
    <div id="app"></div>
</body>
</html>