<!doctype html>
<html ng-app="popup" ng-csp>
<head>
    <script src="angular.js"></script>
    <script src="popup.js"></script>
    <script src="tagtype.js"></script>
    <meta charset="UTF-8">
    <title>TagCounter</title>
    <link rel="stylesheet" href="popup.css"/>
</head>
<body ng-controller="TagCounterCtrl">
<ul id="toolbar">
    <li ng-repeat="(key, value) in tagTypes">
        <input type="checkbox" ng-model="value.show" />
        <i class="toolbar-button clickable icon-{{key}}"
           ng-class="value.show ? 'selected' : 'not-selected'"
           title="({{value.count}}) {{value.desc}}"></i>
    </li>
    <li>|</li>
    <li>
        <i class="toolbar-button clickable icon-refresh"
           ng-click="updateStats()"
           title="Refresh"></i>
    </li>
</ul>

<table>
    <thead>
    <tr>
        <th>
            <a href="javascript:void(0)" ng-click="headerClicked('name')" title="Sort by tag name">Tags</a>
            <i ng-class="isReversedSort ? 'icon-down' : 'icon-up'" ng-show="sortingComponent === 'name'"></i><br/>
            <span class="subtle-text" title="There are {{tagNumber}} tags in this page">{{tagNumber}}</span>
        </th>

        <th class="border-left" colspan="2">
            <a href="javascript:void(0)" ng-click="headerClicked('freq')" title="Sort by tag number">Count</a>
            <i ng-class="isReversedSort ? 'icon-down' : 'icon-up'" ng-show="sortingComponent === 'freq'"></i><br/>
            <span class="subtle-text" title="There are {{elementNumber}} elements in this page">{{elementNumber}}</span>
        </th>
    </tr>
    </thead>
    <tbody id="table-body">
    <!-- this will be filled in popup.js -->
    <tr class="tag-row"
        ng-repeat="tag in tags | orderBy:sortingComponent:isReversedSort"
        ng-show="tagTypes.{{tag.type}}.show"
        ng-mouseenter="highlightTags(tag.name)"
        ng-mouseleave="unhighlight()" >
        <th title="{{tag.name}} is a {{tag.type}} tag">
            <i class="icon {{tag.type}} subtle-text"></i>
            <code>{{tag.name}}</code>
        </th>
        <td class="border-left" title="There are {{tag.freq}} <{{tag.name}}> tag(s)">
            {{tag.freq}}
        </td>
        <td class="border-left" title="{{tag.percent}}% of all page elements are <{{tag.name}}>">
            <div class="bar-container">
                <div class="bar" style="width:{{tag.percent}}%;"></div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>