body {
  font-size: 11px;
  margin: 1px;
  font-family: sans-serif;
  cursor: default;
}
table {
  border-spacing: 0;
}
table th,
table td {
  text-align: left;
  padding: 0.7em;
}
table .border-left {
  border-left: 1px solid #d2d2d2;
}
table .bar {
  background-color: #a1bee6;
  height: 0.4em;
  min-width: 0.4em;
  border-radius: 100px;
  border: 2px ridge #9abcde;
}
table tbody tr:nth-child(even) {
  background-color: #dedede;
}
table tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}
table tbody tr[data-tag]:hover {
  background-color: #ff0000;
  color: white;
}
table tbody tr[data-tag]:hover .border-left {
  border-left: 1px solid transparent;
}
table tbody tr[data-tag]:hover .bar {
  background-color: white;
  border-color: white;
}
.subtle-text {
  color: #8a8a8a;
}
code {
  font-weight: bold;
  font-family: inherit;
}
